@font-face {
  font-family: Montserrat;
  src: url("/fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: Dosis;
  src: url("/fonts/Dosis-Regular.ttf");
}

body {
  font-family: "Montserrat", Montserrat, sans-serif;
}

/* Upload Karya */
.upload .col-5 {
  border-bottom: 4px solid gray;
}
.upload .col-5 a {
  color: gray;
}
.upload .col-5:hover {
  cursor: pointer;
  border-bottom: 4px solid #e74a3b;
}
.upload .col-5:hover a {
  color: #e74a3b !important;
}

.btn-manage-madig span {
  background-color: #e74a3b;
  color: white;
  border: 1px solid #e74a3b;
}
.btn-manage-madig:hover span {
  background-color: white;
  color: #e74a3b;
}

/* Accordion */
.accordion-button:not(.collapsed) {
  color: #e74a3b;
  background-color: #ffe7ed;
  box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}
.accordion-button:focus {
  z-index: 3;
  border-color: #fe8686;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(253, 13, 13, 0.25);
}
